.card {
    font-family: tahoma;
    font-weight: 500;
    box-sizing: border-box;
    border: 3px solid teal;
    padding: 10px;
    border-radius: 10px;
    background-color :white;
    width: 15rem;
    height: 10rem;
    color: teal;
}

p {
    font-size: .75rem;
    margin-top: -3%;
}

h5 {
    margin-top: -.1rem;

}

.cancel-button {
    background-color: teal;
    color: white;
    width: 5rem;
    font-size: .4;
}

